#u0 {
    border-width:0px;
    position:absolute;
    left:140px;
    top:5px;
    width:150px;
    height:50px;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
  }
#u1{
   height: 2px;
   background-color: #F1494F;
   position:absolute;
   top: 60px;
   left: 0px;
   width: 100%;
}
#u2 {
    position:absolute;
    left:150px;
    top:110px;
    width:100px;
    height:270px;
    display:flex;
    /* border: 2px solid #F1494F; */
    font-size: 14px;
  }

  #t1{
      position:absolute;
      right: 0px;
      height: 0px;
      display:flex;
  }
  #t2{
     position:absolute;
      right: 0px;
      margin-top: 70px;
      display:flex;
  }
  #t3{
    position:absolute;
    right: 0px;
    margin-top: 120px;
  }
  #t4{
    position:absolute;
    right: 0px;
    margin-top: 200px;
  }
  #u3 {
    position:absolute;
    left:260px;
    top:100px;
    width:400px;
    height:270px;
    display:flex;
    /* border: 2px solid #F1494F; */
    font-size: 14px;
  }
  #u3 .u31{
    position:absolute;
    left:0px;
    top:0px;
    display:flex;
  }
  #u3 .u32{
    position:absolute;
    left:0px;
    top:74px;
    display:flex;
  }
  #u3 .u33{
    position:absolute;
    left:0px;
    top:124px;
    display:flex;
  }
  #u3 .u34{
    position:absolute;
    left:0px;
    top:200px;
    display:flex;
  }

  .f{
      -webkit-appearance:none;
      -moz-appearance: none;
      /* 输入框的默认样式去掉 */
      /* outline:0; 选中轮廓去掉 */
      outline-color: red;
      border-width:1px;
      border-color:  rgba(136, 132, 132, 0.699);
      border-style: solid;
      height:32px;
      width: 270px; 
  }
  #u3 .u35{
    position:absolute;
    left:0px;
    top:253px;
    display:flex;
  }
  .b{
      background-color:rgba(218, 27, 27, 0.815);
      width: 190px;
      height: 38px;
      border: 0px;
      border-radius: 2px;
      font-size: 14px;
      color:aliceblue;
      font-weight: 600;
      letter-spacing: 2px;
      outline: none;
      cursor:pointer; /* 鼠标样式 */

  }
  #u4{
      position: absolute;
      left: 255px;
      top: 405px;
      font-size: 13px;
      color: #F1494F;
  }
  #u5{
      position: relative;
      left: 0px;
      top: 45px;
      height: 20px;
      width: 140px;
      background:rgb(241, 241, 241);
      border: 1px solid rgb(218, 214, 214);
      letter-spacing: 1px; /*字体间距*/
      cursor:pointer; /* 鼠标样式 */
      outline: none;
      border-bottom-color: rgba(141, 139, 136, 0.61);
      border-radius: 2px;
      font-size: 12px;
  }
  #u5:hover{ /*停留时样式*/
      background-color: rgb(255, 255, 255);
}
#u5:active{/*点击时样式*/
    background-color: darkgrey;
    border:0px;
}
.u36{
  position: absolute;
  top: 168px;
  height: 25px;
  width: 276px;
  /* background-color: #F1494F; */
}
.u360{
  background-color: rgba(136, 132, 132, 0.13);
  height: 20px;
  width: 88px;
  margin-right: 4px;
  float:left;
  color:white;
  text-align: center;
  font-size: 12px;
}
#xy,#zc{
  cursor:pointer;
}