/* 底部 */
footer{
    width: 100%;
    height: 375px;
    background: #262426;
    padding: 56px 0;
    margin-top: 82px;
}
footer .mid{
    width: 800px;
    margin: 0 auto;
}
footer .mid p{
    text-align: center;
    width: 100%;
    color: #ccc;
    font-size: 15px;
    line-height: 22px;
    height: 15px
}
footer .mid .img{
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
footer .mid .img img{
    margin-left: 20px;
}

