#u0{
    position: absolute;
    margin-top: 100px;
    left: 70px;
    width: 1110px;
    height: 650px;
    margin-bottom: 80px;
    border: 1px solid rgba(180, 187, 196, 0.527);
}
#u1{
    width: 200px;
    float: left;
    height: 650px;
    border-right: 1px solid  rgba(180, 187, 196, 0.527);
    background-color: rgba(180, 176, 176, 0.185);
}
.u2{
    overflow: hidden;
}
#u1 .t0{
    font-size: 23px;
    font-weight: 500;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
#u1 .t1{
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    line-height:36px;
    height: 40px;
    cursor: pointer;
}
.u2 .t0{
    font-size: 18px;
    color:rgb(236, 37, 37);
    height: 60px;
    margin-left: 45px;
    border-bottom: 1px solid rgba(180, 187, 196, 0.527);
    padding-top: 35px;
}
#u3{
    position: absolute;
    /* border: 2px solid red; */
    height: 500px;
    width: 270px;
    margin-left: 60px;
    text-align: center;
    margin-top: 40px;
}
#u4{
    position: absolute;
    /* border:1px solid  rgb(41, 85, 41)  ; */
    margin-left: 400px;
    height: 500px;
    margin-top: 40px;
    width: 80px;
}
#u5{
    /* border:1px solid rgb(85, 70, 41) ; */
    margin-left: 490px;
    height: 500px;
    margin-top: 50px;
    width: 270px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.726);
}
#u3 img{
    width: 250px;
}
#u3 button{
    margin-top: 20px;
    height: 50px;
    width: 170px;
    outline:0;
    font-size:17px ;
    color:rgba(65, 67, 71, 0.767) ;
    background-color: rgba(199, 206, 206, 0.527);
    border: 0px;
    border-radius: 10px;/*圆角*/
}
#u3 p{
    font-size: 17px;
    color: rgba(39, 39, 39, 0.459);
}
#u4 p{
    float: right;
}
#u5 .t{
    height: 30px;
    width: 230px;
    margin-bottom: 25px;
}
#u5 select{
    height: 30px;
    margin-bottom: 28px;
    margin-top: 28px;
}
#u6 {
    top: 10px;
    margin-right: 4px;
} 
/* #u6 span.f{
    background: rgb(255, 255, 255);
}
.f:checked{
    background: red;
}   */
#u5 p{
    color: rgba(88, 87, 87, 0.479);
}
.qm{
    margin-top: 75px;
}
.tj{
    border: 0px;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 540;
    color: rgb(255, 255, 255);
    background-color: rgb(248, 47, 47);
}

.red{
    background-color: rgb(243, 50, 50);
    color: white; 
}

#d1{
    position: absolute;
    height: 150px;
    margin-top: 30px;
    margin-left: 45px;
}
#d1{
    border:  1px solid rgba(180, 187, 196, 0.527);
    height:50px;
    width: 870px;
    background-color: rgba(184, 184, 184, 0.219);
}
#d2{
    margin-top: 41px;
    height: 120px;
    width: 870px;
    border-left:  1px solid rgba(180, 187, 196, 0.527);
    border-right:  1px solid rgba(180, 187, 196, 0.527);
    border-bottom:  1px solid rgba(180, 187, 196, 0.527);

}